<p id="notice"><%= notice %></p>

<p>
  <strong>Relative:</strong>
  <%= @cell_number.relative %>
</p>

<p>
  <strong>Relative:</strong>
  <%= @cell_number.relative %>
</p>

<p>
  <strong>Relative:</strong>
  <%= @cell_number.relative %>
</p>

<%= link_to 'Edit', edit_cell_number_path(@cell_number) %> |
<%= link_to 'Back', cell_numbers_path %>
