<p id="notice"><%= notice %></p>

<div class="hi2"></div>

<div class="container">
  <div class="hi top jumbotron paris">
    <div>
      <h1 >Phones <span class="">!</span></h1 >
    </div></div>

  <% @phones.each do |phone| %>
    <div class="card flex">
      <div class="card-header navbar-btn ">
        <div><%= phone.brands %></div>
        <br>
        <div><%= phone.amount %></div><br>
      </div>
      <div></div>
      <div class="card-body">
        <div><%= link_to 'Show', phone %></div>
<!--        <div><%#= link_to %></div>-->
      </div></div>
  <% end %>



<br>

<%= link_to 'New Phone', new_phone_path %>
</div>