<p id="notice"><%= notice %></p>

<p>
  <strong>Brands:</strong>
  <%= @phone.brands %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @phone.amount %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
