<p id="notice"><%= notice %></p>

<div class="reset ">
<div class="center pri">
<p>
  <strong>Account:</strong>
  <%= @user.account %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Make a Call!', phone_path %>

</div></div>


<div class="footer">.</div></div>